*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
example/1p_EN2CH.mp4 filter=lfs diff=lfs merge=lfs -text
example/2p_see_u_again.mp4 filter=lfs diff=lfs merge=lfs -text
example/4p_climate_45min.mp4 filter=lfs diff=lfs merge=lfs -text
voices/en-Alice_woman.wav filter=lfs diff=lfs merge=lfs -text
voices/en-Alice_woman_bgm.wav filter=lfs diff=lfs merge=lfs -text
voices/en-Carter_man.wav filter=lfs diff=lfs merge=lfs -text
voices/en-Frank_man.wav filter=lfs diff=lfs merge=lfs -text
voices/en-Maya_woman.wav filter=lfs diff=lfs merge=lfs -text
voices/in-Samuel_man.wav filter=lfs diff=lfs merge=lfs -text
voices/zh-Anchen_man_bgm.wav filter=lfs diff=lfs merge=lfs -text
voices/zh-Bowen_man.wav filter=lfs diff=lfs merge=lfs -text
voices/zh-Xinran_woman.wav filter=lfs diff=lfs merge=lfs -text
voices/en-Yasser_man.wav filter=lfs diff=lfs merge=lfs -text
en-Yasser_man.wav filter=lfs diff=lfs merge=lfs -text
voices/ar-Ahmed-man.wav filter=lfs diff=lfs merge=lfs -text
voices/ar-Hamdan-man.wav filter=lfs diff=lfs merge=lfs -text
voices/ta-Hameed-man.wav filter=lfs diff=lfs merge=lfs -text
voices/ta-Thenkatchi-man.wav filter=lfs diff=lfs merge=lfs -text
voices/ar-Hamad-man.wav filter=lfs diff=lfs merge=lfs -text
voices/hi-Asad-man.wav filter=lfs diff=lfs merge=lfs -text
voices/ar-Yasser-man.wav filter=lfs diff=lfs merge=lfs -text
voices/ta-Yasser-man.wav filter=lfs diff=lfs merge=lfs -text
